fastapi==0.115.12
uvicorn==0.34.0
pydantic-settings==2.8.1
numpy==2.2.6
pandas==2.2.3
torch==2.6.0
transformers==4.49.0
lime==0.2.0.1
sentence-transformers==3.4.1
scikit-learn==1.6.1
pyarrow==19.0.1
requests==2.32.3
google-auth==2.38.0
pytest==8.3.5
httpx==0.28.1
shap==0.46.0
